 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I am a french computer science student.</p>
  <p>My <b>studies</b> are focused on <b>3D programming and simulations</b>, from the low-level libraries like OpenGL or Vulkan, to the high-level game engines like Unity or Unreal Engine.</p>
  <p>Various <b>internships and apprenticeships</b> led me to learn about <b>back-end web development</b>
  <p>While I am a polyvalent programmer, <b>game engines, graphics programming, programming language theory and back-end web development</b> are of particular interest for me. Game engines need to be highly flexible and fast, yet current languages and tools make the development of games slow, error-prone and painful. My <b>personal projects</b> are centered around this subject.</p>
  <br/>
  <p>For more information, you can find my resume <a href="https://malkaviel.github.io/online-cv/">here.</a></p>
</div>
  <!--
  <div class="user">
    <div class="tech">
      <h2>3D</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->