<div class="user-details">
  <h1>About me</h1>
  <p>I am a french <b>Web</b> developer.</p>
  <p>
    Most of my experience lies in the <b>back-end</b> side of web development, be it in <b>PHP</b>, <b>C#</b> or <b>Elixir</b>, with some experience with the <b>ReactJS</b>
    framework for the front-end side.
  </p>
  <br/>
  <p>
    I worked at several web agencies as a <b>backend web developer</b>, with PHP and the Symfony web framework, to build REST APIs, web services
    and develop the server side of web applications.
  </p>
  <br/>
  <p>For more information, you can find my resume <a href="https://malkaviel.github.io/online-cv/">here</a>.</p>
</div>
  <!--
  <div class="user">
    <div class="tech">
      <h2>3D</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->