<div class="user-details">
  <h1>About me</h1>
  <p>I am a french <b>Web</b> and <b>3D software</b> programmer.</p>
  <p>My <b>studies and personal projects</b> are centered around the development of game engines, 3D graphics software and programming language theory.</p>
  <p>My <b>professional experience</b> is about the development of website backends and internal web tools.</p>
  <br/>
  <p>
    Through my two-year university diploma and my professional bachelor degree, I learnt about the <b>development of
    3D applications</b>, the game engines behind those applications (Unreal Engine, Unity, Godot...), the low-level graphics components
    of those game engines (OpenGL, Vulkan...) and the graphics pipeline used by those low-level libraries.
  </p>
  <br/>
  <p>
    I worked at several web agencies as a <b>backend web developer</b>, with PHP and the Symfony web framework. Occasionally, my job was
    to <b>develop internal web tools</b> to help developers in their tasks, or to automate some processes.
  </p>
  <br/>
  <p>
    As said above, i am also studying the <b>theory behind programming languages</b>. Programming languages are the first and main tools
    used by programmers, and some languages make some problems easier to resolve.
  </p>
  <p>While PHP and Javascript are still kings in the
    web development world, some programming languages with various qualities grew in popularity. <b>Erlang/Elixir</b> is a fault-tolerant
    and concurrent by default programming language, making it a really attractive for client/server software. Facebook developed
    the <b>ReasonML</b> language on top of the <b>Ocaml</b> language, which offers an expressive syntax and a static type-checker to the Javascript world.
  </p>
  <p>
    Some of those new languages make the development of applications better and safer: less bugs, a better architecture, better development tools...
  </p>
  <p>
    Sometimes, being able to develop a small domain-specific language to solve a particular problem can be a good idea, that is why I am studying this field.
  </p>
  <br/>
  <p>For more information, you can find my resume <a href="https://malkaviel.github.io/online-cv/">here</a>.</p>
</div>
  <!--
  <div class="user">
    <div class="tech">
      <h2>3D</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
-->