<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="raytracer generated image" src="{{ '/assets/img/raytracer.png' | prepend: site.baseurl }}">
  </div>
  <div class="contents">
    <h3>Work in progress - Ocaml raytracer</h3>
    <ul>
      <li>Started the 23rd of May</li>
      <li>Small project to learn the Ocaml programming language</li>
    </ul>
    <p>
      It is a small personal project made with Ocaml.
    </p>
    <p>
      The first goal of this project is to create a raytracer and develop all
      the necessary libraries: mostly mathematics, 2D and 3D geometry.
    </p>
    <p>
      The second one is to discover the Ocaml programming language, its ecosystem and its best-practices.
    </p>
    <p>
      You can find the repository <a href="https://bitbucket.org/malkaviel/ocaml-raytracer/src/default/">here</a>.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Godot game gif" src="{{ '/assets/img/godot_illustration.gif' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>2019 - Mobile game prototype</h3>
    <ul>
      <li>Prototype made in a week</li>
      <li>Made with the <a class="link" href="https://godotengine.org/">Godot</a> game engine</li>
      <li>Made by <a href="http://www.quentinlg.me/">Quentin Louet</a>, <a href="https://rachidtaghat.wixsite.com/portfolio">Rachid Taghat</a> and me</li>
    </ul>
    <p>This project was made from the 4th of March 2019 to the 11th of March 2019.</p>
    <p>The goal was to learn and explore a new game engine which, compared to Unity and Unreal Engine, had an entirely different workflow.</p>
    <p>You can find the Android build <a href="https://github.com/Malkaviel/particle/releases">here</a>.</p>
  </div>
</div>
<div class="user-projects">
    <div class="images-left">
      <img alt="Rendered DICOM image" src="{{ '/assets/img/ptut_illustration_dicom.gif' | prepend: site.baseurl }}" />
    </div>
    <div class="contents-right">
      <h3>2018/2019 - Medical images visualization</h3>
      <ul>
        <li>Made for the Hololens mixed reality headset</li>
        <li>GPU ray-tracing</li>
        <li>Made with Unity</li>
        <li>Built on top of a volume rendering project made by <a href="https://github.com/mattatz/unity-volume-rendering">Mattaz</a></li>
      </ul>
      <p>This project was made from September 2018 to March 2019. The software allowed the user to visualize and interact with 3D DICOM images. The software could be used with the Hololens mixed reality headset.</p>
      <p>The rendered 3D image could be placed on top of a real patient in order to get more informations for some operations, like a dialysis for example.</p>
    </div>
  </div>
  <div class="user-projects">
      <div class="images-right">
        <img alt="Game engine architecture schema" src="{{ '/assets/img/game_engine_architecture.png' | prepend: site.baseurl }}" />
      </div>
      <div class="contents">
        <h3>2017/2018 - Maskerad Game Engine</h3>
        <ul>
          <li>Prototype, not usable</li>
          <li>Written in Rust</li>
          <li>Client-Server architecture for games and tools</li>
        </ul>
        <p>This game engine prototype was made from October 2017 to June 2018. The first goal was to discover how a game engine <i>really</i> works. The second was to try to build an engine with new, safer and more expressive programming languages.</p>
        <p>The major feature of this engine, heavily inspired by the game <i>Quake 2</i> and the now discontinued <i>Stingray Engine</i>, was the client/server architecture for the game AND the tools.</p>
        <p>You can find the source code <a href="https://github.com/Maskerad-rs">here</a>.</p>
      </div>
    </div>
    <div class="user-projects">
        <div class="images-left">
          <img alt="3D Unreal engine game" src="{{ '/assets/img/tfa.jpg' | prepend: site.baseurl }}" />
        </div>
        <div class="contents-right">
          <h3>2016 - The Forgotten Ark </h3>
          <ul>
            <li>3D game</li>
            <li>Prototype</li>
            <li>First Person Shooter</li>
            <li>Made with the Unreal Engine</li>
            <li>Multiple weapons</li>
            <li>Dismemberment and wound rendering</li>
          </ul>
          <p>This prototype was made in 4 months. The goal was to discover the Unreal Engine 4 with a medium-sized project. The major features of this project were the dismemberment, by breaking bones via the physics engine and the use of the particle system, and the realistic wound rendering, based on the Valve's <a href="https://steamcdn-a.akamaihd.net/apps/valve/2010/gdc2010_vlachos_l4d2wounds.pdf">GDC Presentation</a>.</p>
        </div>
      </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="betrayed 2D Unity game" src="{{ '/assets/img/betrayed.jpg' | prepend: site.baseurl }}"/>
  </div>
  <div class="contents">
    <h3>2016 - Betrayed</h3>
    <ul>
      <li>2D game</li>
      <li>Top-down shooter</li>
      <li>Made with the Unity game engine</li>
      <li>Heavy use of procedural content generation</li>
    </ul>
    <p>This game was made in 6 months by a group of 14 students. I worked on it as a programmer and assets integrator. The major feature of the game was the heavy use of procedural content generation. All the levels, weapon appearance, weapon statistics... were procedurally generated.</p>
  </div>
</div>

